<!DOCTYPE html>
<html>
<head>
    <title>Baseband</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body>
<div id="div_information" style="display:none">
    <div class="container">
        <div id="div_jumbotron_introduction" class="jumbotron">
            <div class="jumbotron" style="background-color:#efefef">
                <h1>Analysis</h1>
            </div>
            <div class="alert alert-info">
                <b>What is this?</b> A list of criteria your device was tested against to give you security
                and performance recommendations based upon information gathered through our diagnosis.
            </div>
            <hr>
            <div id="div_block_location">

            </div>
        </div>
    </div>
</div>
<div id="div_polling" style="display:none">
    <div class="container">
        <div id="div_jumbotron_introduction" class="jumbotron text-center">
            <div class="div_magic">
                <h1>2. Run Analysis</h1>
            </div>
            <h1><span class="glyphicon glyphicon-refresh spinning"></span></h1>
            <h2>Please run the file you have just downloaded to start the analysis!</h2>
        </div>
    </div>
</div>
<div id="div_download" style="display: none;">
    <div class="container">
        <div id="div_jumbotron_introduction" class="jumbotron text-center">
            <a id="btn_download" href="/bin/baseband.exe" target="_blank" class="btn btn-default btn-lg btn-primary"
               style="display:inline-block">1. Download Baseband</a>
            <br>

            <div class="col-md-4">
                <div class="panel panel-primary thumbnail_step">
                    <div class="panel-heading">
                        <h3 class="panel-title">1. Download and Run</h3>
                    </div>
                    <div class="panel-body">
                        <img src="/img/ichiban.png" class="img-responsive" height="300"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary thumbnail_step">
                    <div class="panel-heading">
                        <h3 class="panel-title">2. Wait for Baseband to collect data</h3>
                    </div>
                    <div class="panel-body">
                        <img src="/img/niiban.png" class="img-responsive" height="300"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary thumbnail_step">
                    <div class="panel-heading">
                        <h3 class="panel-title">3. Look at Results</h3>
                    </div>
                    <div class="panel-body">
                        <img src="/img/sanban.png" class="img-responsive" height="300"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div_not_windows" style="display:none">
    <div class="container">
        <div id="div_jumbotron_introduction" class="jumbotron text-center">
            <h1>Sorry, you're not running Windows.</h1>
            <h2>This tool was only made for analyzing the Microsoft Windows platform.</h2>
        </div>
    </div>
</div>
<div id="div_windows" style="display:none">
    <div class="container">
        <div id="div_jumbotron_introduction" class="jumbotron">
            <div class="div_magic"><h1>What is Baseband?</h1></div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                    Baseband is a threat-assessment application that prioritizes one key element: ease of use. Our goal
                    was to create an application that provides key security-enhancing functionality, presented in an
                        interface that's navigable by the average user.</p>

                    <p>Our threat assessment works by evaluating a user’s computer in several important areas, providing
                        them with tips and information in how to improve their rating, and finally giving them a final score,
                        evaluating their overall system security.
                    </p>
                </div>
                <div class="panel-footer pull-right">
                    <div>
                        <a id="btn_terms_accept" href="#" class="btn btn-default btn-lg btn-success">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="div_introduction">
    <div class="container">
        <div id="div_jumbotron_introduction" class="jumbotron text-center">
            <h1 id="h1_title_baseband">Baseband</h1>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/js/baseband.js"></script>
</body>
</html>
