<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="col-lg-3 col-md-3 col-sm-4" id="main-div">
      <div class="list-group table-of-contents">
        <a class="list-group-item" >Navbar</a>
        <a class="list-group-item" >Buttons</a>
        <a class="list-group-item" >Typography</a>
        <a class="list-group-item" >Tables</a>
        <a class="list-group-item" >Forms</a>
        <a class="list-group-item" >Navs</a>
        <a class="list-group-item" >Indicators</a>
        <a class="list-group-item" >Progress bars</a>
        <a class="list-group-item" >Containers</a>
        <a class="list-group-item" >Dialogs</a>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
