#h1_title_baseband {
    font-variant: small-caps;
    font-size: 120px;
    text-align: center;
}

#btn_download {
    margin-bottom: 2em;
    -webkit-box-shadow: #777 5px 5px 7px;
    -moz-box-shadow: #777 5px 5px 7px;
    box-shadow: #777 5px 5px 7px;
}

#div_jumbotron_introduction {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}
#btn_introduction {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

div.thumbnail_step {
/*    -webkit-box-shadow: #777 5px 5px 7px;
    -moz-box-shadow: #777 5px 5px 7px;
    box-shadow: #777 5px 5px 7px;
    background-color: rgba(0,0,0,0);*/
    padding: 0px;
}
div.thumbnail_step > div.thumbhead {
/*    padding: 5px;
    background-color: #146fff;
    color: white;
    font-weight:700;
    font-variant: small-caps;*/
}

div.thumbnail_step > img {
    margin: 0;
    width:100%
}

div.thumbnail_step > div.caption {
    background-color: #1070ee;
    color:white;
    font-variant: small-caps;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}